/* MapComponent.css */

.locate-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  z-index: 1000; /* Make sure it's above the map layers */
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  transition: background-color 0.3s, color 0.3s;
}

.locate-button:hover {
  background-color: #f8f8f8;
  color: #333;
}

.locate-button:focus {
  outline: none;
  border-color: #665;
}



.map-box {
  position: relative; /* Allows absolute positioning inside */
  height: 80%; /* Full height minus filter panel height */
  border-radius: 20px;
  margin: 30px;
  /* width: 100%; */
}

.filter-panel {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Ensure it's above the map */
  padding: 10px;
  box-sizing: border-box;
}
.loading-screen{
  height: 30px;
}
  
  
  